extends layout

block content
	.container.d-flex.flex-column.h-100
		.mx-auto.my-auto.col-lg-4.col-md-6
			.card
				.card-body
					h2.mb-3 LOGIN
					form(action='/users/login', method='post')
						.form-group
							.input-group
								.input-group-prepend
									.input-group-text
										i#i-id.far.fa-user
								input#inputID.form-control(type="text" name="userID" placeholder="ID" aria-describedby="i-id")
						.form-group
							.input-group
								.input-group-prepend
									.input-group-text
										i#i-pw.fas.fa-key
								input#inputPW.form-control(type="password" name="userPW" placeholder="PASSWORD" aria-describedby="i-pw")
						.form-group.text-right
							a(href="/users/register") 회원가입
						button.btn.btn-primary.col-md-12(type="submit") 로그인